
#header{
  background-color: red;
  height: 50px;
  text-align: center;
  color: white;
}

#left{
  background-color: green;
  height: 500px;
  padding: 5px;
  color: white;
}


#footer{
  background-color: blue;
  height: 50px;
  clear: both;
  padding: 5px;
  color: white;
}
